@import url("styleReset.css");

:root {
    --xSmPadding:5px;
    --smPadding: 10px;
    --medPadding: 25px;
    --lgPadding: 50px;

    --mainColor: rgb(126,203,203);
    
    --lightColor: #f3f3f3;
    --darkColor: #222;
    --accentColor1: rgb(201,238,234);
    --accentColor2: rgb(160, 184, 192);
    --accentColor3: rgb(54,55,64);

    --fontLight: whitesmoke;
    --fontDark: black;

    --smRound: 10px;
    --medRound: 25px;
    --lgRound: 50px;
    
    --smBorder: 1px;
    --medBorder: 2px;
    --lgBorder: 3px;

    --roundTopBottomRightBorder: 0% var(--medRound) var(--medRound) 0%;
    --roundBorder: var(--medRound);
    --circleBorder: 50%;

    --borderHover: var(--lgBorder) solid var(--mainColor);

    --shadowBox1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --shadowBox2: --shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--mainColor);
}

#pageHeader {
    height:fit-content;
    background-color: gray;
    padding: var(--smPadding);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: var(--medBorder) solid green;
}

#pageHeader > #middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--medPadding);
}

#pageHeader > #middle > div, #pageHeader > #middle > h2 {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

#pageContent {
    height: fit-content;
    border-radius: var(--medRound);
    margin: var(--smPadding);
    padding: var(--smPadding);
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    gap: var(--xSmPadding);
}

.panel {
    border-radius: var(--roundBorder);
    padding: var(--medPadding);
    height: fit-content;
}

#pageContent > #leftPanel {
    background-color: var(--accentColor3);
    color: var(--lightColor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#pageContent > #leftPanel > div > div {
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#pageContent > #leftPanel > div > div > *{
    margin: var(--smPadding);
}

#pageContent > #leftPanel > div > .active{
    background-color: rgb(16,181,201);
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;
}

#pageContent > #leftPanel > div > div > h4 {
}




#pageContent > #leftPanel > #leftPanelTop {
    border-bottom: var(--medBorder) solid var(--accentColor1);
    width: 100%;
    padding-bottom: var(--smPadding);
}

#pageContent > #leftPanel > #leftPanelBottom {
    padding-top: var(--smPadding);
    border-top: var(--medBorder) solid var(--accentColor1);
    width: 100%;
}







#pageContent > #middlePanel {
    background-color: var(--darkColor);
    color: var(--fontLight);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#pageContent > #middlePanel > #projectHeader {
    margin: 0px;
    padding: 0px;
}
#pageContent > #middlePanel > #projectHeader > #sort > *{
    padding-left: var(--smPadding);
}
#pageContent > #middlePanel > #projectHeader > #sort > *:hover{
    color: grey;
    cursor: pointer;
}

#pageContent > #middlePanel > #projects {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    display: grid;
    resize: both;
    overflow: auto;
    gap: var(--medPadding);
}

#pageContent > #middlePanel > #projects > .project {
    display: flex;
    flex-direction: column;
    background-color: ;
    border-radius: var(--roundBorder);
    padding: var(--lgPadding);
    color: var(--fontDark);
    background-color: var(--lightColor);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

#pageContent > #middlePanel > #projects > .project:hover{
    border-left: var(--borderHover);
    background-color: var(--accentColor1);
    cursor: pointer;
    box-shadow: var(--shadowBox1);
}

#pageContent > #middlePanel > #projects > .project > h5 {
    padding: var(--smPadding);
    margin: 0px;
}
#pageContent > #middlePanel > #projects > .project > img{
    width: calc(100% - 2*(var(--smPadding)));
    height: auto;
    margin: var(--smPadding);
}


#pageContent > #rightPanel {
    background-color: var(--accentColor2);
}

#pageContent > #rightPanel > #announcementHeader {
    display: flex;
    flex-direction: column;
}

#pageContent > #rightPanel > #announcementHeader > #announcements {
    display: flex;
    flex-direction: column;
    gap: var(--smPadding);
}

#pageContent > #rightPanel > #announcementHeader > #announcements > .announcement {
    background-color: aliceblue;
    text-align: center;
    border-radius: var(--roundBorder);
    padding-top: var(--smPadding);
    box-shadow: var(--shadowBox1);
}

#pageContent > #rightPanel > #announcementHeader > #announcements > .announcement:hover {
    border-left: var(--borderHover);
    cursor: pointer;
}
#pageContent > #rightPanel > #announcementHeader > #announcements > .announcement > * {
    margin: var(--smPadding);
}








#pageContent > #leftPanel > * > *:hover{
    color: grey;
    cursor: pointer;
}

.icon {
    height: clamp(1rem, -0.875rem + 2vw, 2rem);
    width: auto;
}

.panel > * > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.profileImg {
    height: 64px;
    width: auto;
    border-radius: var(--circleBorder);
}

.frostedGlassBackground {
    backdrop-filter: blur(20px);
    /*background-color: rgba(201,238,234, 0.8);*/
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255,255,255,0.3);
}


h1 {
    font-size: clamp(1.6rem, -0.875rem + 2vw, 3rem);
}

h2 {
    font-size: clamp(1.4rem, -0.875rem + 2vw, 2.4rem);
}

h3 {
    font-size: clamp(1.1rem, -0.875rem + 2vw, 2.1rem);
}


h4 {
    font-size: clamp(1rem, -0.875rem + 2vw, 2rem);
}

h5 {
    font-size: clamp(0.9rem, -0.875rem + 2vw, 1.3rem);
}

h6 {
    font-size: clamp(0.7rem, -0.875rem + 2vw, 0.9rem);
}
