@import url("styleReset.css");

:root {
    --xSmPadding:5px;
    --smPadding: 10px;
    --medPadding: 25px;
    --lgPadding: 50px;

    --mainColor: rgb(126,203,203);
    
    --lightColor: #f3f3f3;
    --darkColor: #222;
    --accentColor1: rgb(201,238,234);
    --accentColor2: rgb(160, 184, 192);
    --accentColor3: grey;

    --fontLight: white;
    --fontDark: black;

    --smRound: 10px;
    --medRound: 25px;
    --lgRound: 50px;
    
    --smBorder: 1px;
    --medBorder: 2px;
    --lgBorder: 3px;

    --roundTopBottomRightBorder: 0% var(--medRound) var(--medRound) 0%;
    --roundBorder: var(--medRound);
    --circleBorder: 50%;

    --shadowBox1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--mainColor);
}

#pageHeader {
    height:fit-content;
    background-color: gray;
    padding: var(--smPadding);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: var(--medBorder) solid green;
}

#pageHeader > #middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--medPadding);
}

#pageHeader > #middle > div, #pageHeader > #middle > h2 {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

#pageContent {
    height: fit-content;
    border-radius: var(--medRound);
    margin: var(--smPadding);
    padding: var(--smPadding);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    gap: var(--xSmPadding);
}

.panel {
    border-radius: var(--roundBorder);
    padding: var(--medPadding);
    height: fit-content;
}

#pageContent > #leftPanel {
    background-color: rgb(54,55,64);
    color: var(--lightColor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#pageContent > #leftPanel > div > div {
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#pageContent > #leftPanel > div > div > *{
    margin: var(--smPadding);
}

#pageContent > #leftPanel > div > div > h4 {
}




#pageContent > #leftPanel > #leftPanelTop {
    border-bottom: var(--medBorder) solid var(--accentColor1);
    width: 100%;
    padding-bottom: var(--smPadding);
}

#pageContent > #leftPanel > #leftPanelBottom {
    padding-top: var(--smPadding);
    border-top: var(--medBorder) solid var(--accentColor1);
    width: 100%;
}













#pageContent > #middlePanel {
    background-color: purple;
}

#pageContent > #rightPanel {
    background-color: green;
}

#pageContent > #leftPanel > * > *:hover{
    color: grey;
    cursor: pointer;
}

.icon {
    height: clamp(1rem, -0.875rem + 2vw, 2rem);
    width: auto;
}

.panel > * > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.profileImg {
    height: 64px;
    width: auto;
    border-radius: var(--circleBorder);
}

.frostedGlassBackground {
    backdrop-filter: blur(20px);
    background-color: rgba(201,238,234, 0.8);
}


h1 {
    font-size: clamp(1.6rem, -0.875rem + 2vw, 3rem);
}

h2 {
    font-size: clamp(1.4rem, -0.875rem + 2vw, 2.4rem);
}

h3 {
    font-size: clamp(1.1rem, -0.875rem + 2vw, 2.1rem);
}


h4 {
    font-size: clamp(1rem, -0.875rem + 2vw, 2rem);
}

h5 {
    font-size: clamp(0.9rem, -0.875rem + 2vw, 1.8rem);
}

h6 {
    font-size: clamp(0.8rem, -0.875rem + 2vw, 1.6rem);
}
