@import url("styleReset.css");
@import url("animations.css");

:root {
    --xSmPadding:5px;
    --smPadding: 10px;
    --medPadding: 25px;
    --lgPadding: 50px;

    /*--mainColor: rgb(126,203,203);*/
    --mainColor: black;
    
    --lightColor: #f3f3f3;
    --darkColor: #222;

    --accentColor1: rgb(201,238,234);
    --accentColor2: rgb(85, 85, 85);
    --accentColor3: rgb(54,55,64);
    --accentColor4: rgb(22,27,34);

    --fontLight: var(--lightColor);
    --fontDark: black;
    
    --smRound: 10px;
    --medRound: calc((var(--smRound) * 2));
    --lgRound: calc((var(--medRound) * 2));
    
    --smBorder: 1px;
    --medBorder: calc((var(--smBorder) * 2));
    --lgBorder: calc((var(--medBorder) * 2));
    --xlgBorder: calc((var(--lgBorder) * 2));

    --roundTopBottomRightBorder: 0% var(--medRound) var(--medRound) 0%;
    --roundBorder: var(--medRound);
    --circleBorder: 50%;

    --borderHover: var(--lgBorder) solid var(--mainColor);

    --shadowBox1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --shadowBox2: --shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--mainColor);
    font-family: 'Montserrat', sans-serif;
}

#pageHeader {
    height: fit-content;
    background-color: var(--accentColor4);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: var(--smPadding);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: var(--medBorder) solid rgb(166,166,156);
    color: rgb(240,242,231);
}

#pageHeader > #middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--smPadding);
}

#pageHeader > #middle > h2 {
    margin-bottom: 0px;
}

#pageHeader > #right {
    align-self: flex-start;
}

.panel {
    /*border-radius: var(--roundBorder);*/
    padding: var(--medPadding);
    height: fit-content;
}

#pageContent {
    height: fit-content;
    /*border-radius: var(--medRound);*/
    background-color: var(--accentColor4);
    margin: var(--smPadding);
    padding: var(--smPadding);
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    gap: var(--xSmPadding);
}

#pageContent > #leftPanel {
    position: sticky;
    top: calc(60px + (2 * var(--smPadding)));
    background-color: var(--accentColor3);
    color: var(--lightColor);
    display: flex;
    flex-direction: column;
}

#pageContent > #leftPanel > div > div {
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#pageContent > #leftPanel > div > div > *{
    margin: var(--smPadding);
}

#pageContent > #leftPanel > div > .active{
    background-color: var(--accentColor4);
    border: 1px solid black;
    /*border-radius: 0px 0px var(--smRound) var(--smRound);*/
    color: var(--fontLight);
}

#pageContent > #leftPanel > div > div:hover{
    background-color: var(--accentColor4);
    border: 1px solid black;
    /*border-radius: 0px 0px var(--smRound) var(--smRound);*/
    color: var(--fontLight);
}

#pageContent > #leftPanel > #leftPanelTop {
    border-bottom: var(--medBorder) solid var(--accentColor1);
    width: 100%;
    padding-bottom: var(--smPadding);
}

#pageContent > #leftPanel > #leftPanelBottom {
    padding-top: var(--smPadding);
    border-top: var(--medBorder) solid var(--accentColor1);
    width: 100%;
}

#pageContent > #middlePanel {
    background-color: var(--accentColor2);
    color: var(--fontLight);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#pageContent > #middlePanel > #projectHeader {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    padding-bottom: var(--smPadding);
}

#pageContent > #middlePanel > #projectHeader > h2,
#pageContent > #middlePanel > #projectHeader > #sort > *{
    padding-left: var(--smPadding);
    margin: 0;
}
#pageContent > #middlePanel > #projects {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    display: grid;
    resize: both;
    overflow: auto;
    gap: var(--medPadding);
}

#pageContent > #middlePanel > #projects > .project {
    display: flex;
    flex-direction: column;
    border-radius: var(--roundBorder);
    padding: var(--lgPadding);
    color: var(--fontDark);
    background-color: var(--lightColor);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

#pageContent > #middlePanel > #projects > .project > h5 {
    padding: var(--smPadding);
    margin: 0px;
}

#pageContent > #middlePanel > #projects > .project > img{
    width: calc(100% - 2*(var(--smPadding)));
    height: auto;
    margin: var(--smPadding);
}

#pageContent > #middlePanel > #projects > .project > .projectNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--smPadding);
    gap: var(--smPadding);
}

#pageContent > #rightPanel {
    background-color: var(--accentColor3);
    display: flex;
    flex-direction: column;
    gap: var(--medPadding);
}

#rightPanel > div {
    /*background-color: var(--accentColor3);*/
}

#pageContent > #rightPanel > * {
    display: flex;
    flex-direction: column;
    gap: var(--smPadding);
}

#pageContent > #rightPanel > * > h2 {
    margin: var(--smPadding);
    width: 100%;
    border-bottom: var(--medBorder) solid var(--lightColor);
    color: var(--lightColor);
}

#pageContent > #rightPanel > * > div {
    display: flex;
    flex-direction: column;
    gap: var(--smPadding);
}

#pageContent > #rightPanel >  #onlineHeader {
    padding-top: var(--smPadding);
}

#pageContent > #rightPanel > * > div > div {
    background-color: aliceblue;
    text-align: center;
    border-radius: var(--roundBorder);
    padding-top: var(--smPadding);
    box-shadow: var(--shadowBox1);
    width: 100%;
}

#pageContent > #rightPanel > #onlineHeader > div {
    margin: 0 10%;
}

#pageContent > #rightPanel > * > div > .online {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    align-items: flex-end;
    padding: var(--smPadding);
    gap: var(--smPadding);
}

#pageContent > #rightPanel > * > div > .online > * {
    margin: 0;
    padding: 0;
    
} 
#pageContent > #rightPanel > * > div > div:hover {
    box-shadow: var(--shadowBox2);
    cursor: pointer;
}
#pageContent > #rightPanel > * > div > div > * {
    margin: var(--smPadding);
}

#pageContent > #leftPanel > * > *:hover{
    color: var(--accentColor4);
    cursor: pointer;
}

.icon {
    height: clamp(1rem, -0.875rem + 2vw, 2rem);
    width: auto;
    cursor: pointer;
}

.panel > * > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.profileImg {
    height: 64px;
    width: 64px;
    object-fit: none;
    border-radius: var(--circleBorder);
}

.frostedGlassBackground {
    backdrop-filter: blur(20px);
    /*background-color: rgba(201,238,234, 0.8);*/
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255,255,255,0.3);
}

.darkHover:hover {
    opacity: 0.9;
    cursor: pointer;
}

h1 {
    font-size: clamp(1.6rem, -0.875rem + 2vw, 3rem);
}

h2 {
    font-size: clamp(1.4rem, -0.875rem + 2vw, 2.4rem);
}

h3 {
    font-size: clamp(1.1rem, -0.875rem + 2vw, 2.1rem);
}


h4 {
    font-size: clamp(1rem, -0.875rem + 2vw, 2rem);
}

h5 {
    font-size: clamp(0.9rem, -0.875rem + 2vw, 1.3rem);
}

h6 {
    font-size: clamp(0.7rem, -0.875rem + 2vw, 0.9rem);
}

